@font-face {
    font-family: "Primitives";
    src:
            url("https://hetcdn.nl/fonts/primitives.woff2") format("woff2"),
            url("https://hetcdn.nl/fonts/primitives.woff") format("woff"),
            url("https://hetcdn.nl/fonts/primitives.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-primitives: "Primitives", system-ui, sans-serif;
}

.font--primitives {
    font-family: var(--font-primitives);
    font-palette: normal;
    font-variant-ligatures: none;
}